/* Space out content a bit */
body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
    text-align:center;
    border:1px solid #666;
    -moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 }


.container{
	width:80%;
	margin:auto;
}

/* Custom page header */
header {
  padding-bottom: 20px;
  background: #ccc;
}

main{
    height:350px;
}

#game-section{
    margin-top:25px;
}

footer{
    height:50px;
}

.lives{
    margin-right:5px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

